# Handling Duplicated and Missing Data

In [1]:
# Setup
from datetime import datetime
import os

import numpy as np
import pandas as pd

users = pd.read_csv(os.path.join('data', 'users.csv'), index_col=0)
transactions = pd.read_csv(os.path.join('data', 'transactions.csv'), index_col=0)
requests = pd.read_csv(os.path.join('data', 'requests.csv'), index_col=0)

# Perform the merge from the previous notebook 
successful_requests = requests.merge(
    transactions,
    left_on=['from_user', 'to_user', 'amount'], 
    right_on=['receiver', 'sender', 'amount']
)

# Statement from previous notebook
"Wow! ${:,.2f} has passed through the request system in {} transactions!!!".format(
    successful_requests.amount.sum(),
    len(successful_requests),
)

'Wow! $10,496.47 has passed through the request system in 214 transactions!!!'

## Duplicated Data

We realized in our the previous notebook (05-combining-dataframes.ipynb) that the **`requests`** `DataFrame` had duplicates. Unfortunately this means that our **`successful_requests`** also contains duplicates because we merged those same values with a transaction, even though in actuality, only one of those duplicated requests should be deemed "successful".

We should correct our `DataFrame` by removing the duplicate requests, keeping only the last one. As we saw in previous notebook the method named [`drop_duplicates`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop_duplicates.html) does just that. 

Like `duplicated` there is a `keep` parameter that works similarly, you tell it which of the duplicates to keep.

In [2]:
# Let's get our records sorted chronologically
successful_requests.sort_values('request_date', inplace=True) 

# And then we'll drop dupes keeping only the last one. 
#  Note the use of the inplace keyword
successful_requests.drop_duplicates(('from_user', 'to_user', 'amount'), keep='last', inplace=True)

# Statement from previous notebook
"Wow! ${:,.2f} has passed through the request system in {} transactions!!!".format(
    successful_requests.amount.sum(),
    len(successful_requests),
)

'Wow! $9,316.12 has passed through the request system in 191 transactions!!!'

#### Important
Always make sure to check for duplicates in situations where you are merging one or more `DataFrame`s together.

## Locating records not found in another DataFrame using [`isin`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isin.html)

Now that we have seen how successful the requests, have been, it would be nice to locate all the users who **have not** yet made a request to another user.

Basically we would to ask if each user from the **`users`** `DataFrame` if they are in the **`requests`** `DataFrame` as a **`from_user`**.

The method `isin` is available for [`Series`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isin.html), [`DataFrame`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isin.html), and even an [`Index`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.isin.html).  The method takes an iterable and returns a boolean index of whether or not the value is contained in the owning `Series` or `DataFrame`.

In [3]:
# Create a boolean array where we check to see if the label (username) 
#   is in the `from_user` Series.
made_request_index = users.index.isin(requests.from_user)
# This will get us a list of all users who **have** made a request
users[made_request_index].head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
aaron,Aaron,Davis,aaron6348@gmail.com,True,2018-08-31,6,18.14
acook,Anthony,Cook,cook@gmail.com,True,2018-05-12,2,55.45
adam.saunders,Adam,Saunders,adam@gmail.com,False,2018-05-29,3,72.12
adrian,Adrian,Fang,adrian.fang@teamtreehouse.com,True,2018-04-28,3,30.01
adrian.blair,Adrian,Blair,adrian9335@gmail.com,True,2018-06-16,7,25.85

Because we have a boolean index, we can negate it, using the `~` bitwise operator, to get to what we were looking for, users who have not yet made a request.

In [4]:
users[~made_request_index].head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
alan9443,Alan,Pope,pope@hotmail.com,True,2018-04-17,0,56.09
alvarado,Denise,Alvarado,alvarado@hotmail.com,True,2018-09-07,6,26.72
amiller,Anne,Miller,miller@hotmail.com,False,2018-06-02,5,86.28
andersen,Mark,Andersen,mark.andersen@yahoo.com,True,2018-08-21,3,75.69
andrade,Melissa,Andrade,mandrade@yahoo.com,True,2018-01-06,3,83.22

## Locating Missing Data

As I was looking at these people who hadn't made requests I noticed that a few of them had a NaN (Not A Number) for a **`last_name`**.

We can get a quick overview of how many blank values we have by using the [`DataFrame.count`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.count.html)

In [5]:
users.count()

first_name        475
last_name         430
email             475
email_verified    475
signup_date       475
referral_count    475
balance           475
dtype: int64

[`Series.isna`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isna.html) is a method that allows you to check for missing values, such as `None` or `np.nan`.  It returns a boolean array which can be used as an index.

In [6]:
#or
users.isna().sum()

first_name         0
last_name         45
email              0
email_verified     0
signup_date        0
referral_count     0
balance            0
dtype: int64

In [7]:
# Gather all users where the last name is missing
users[users.last_name.isna()].head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
anthony3761,Anthony,NaN,anthony9581@gmail.com,True,2018-08-16,6,59.81
bradley,Bradley,NaN,bradley3941@henderson.com,True,2018-06-24,4,22.24
bradley7808,Bradley,NaN,bradley8794@yahoo.com,True,2018-06-15,1,76.49
brenda,Brenda,NaN,brenda@hotmail.com,True,2018-07-28,7,6.18
brooke2027,Brooke,NaN,brooke6938@gmail.com,False,2018-05-23,0,7.22

### Filling Missing Values

You can also set all unknown values to a specific value using the [`fillna`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html) method. By default it will return a new `DataFrame`, use the `inplace` parameter to update the existing.

In [8]:
# Make a copy of the DataFrame with "Unknown" as the last name where it is missing
users_with_unknown = users.fillna('Unknown')

# Make sure we got 'em all
users_with_unknown[users_with_unknown.last_name.isna()]

Empty DataFrame
Columns: [first_name, last_name, email, email_verified, signup_date, referral_count, balance]
Index: []

In [9]:
users_with_unknown[users_with_unknown.last_name == 'Unknown']

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
anthony3761,Anthony,Unknown,anthony9581@gmail.com,True,2018-08-16,6,59.81
bradley,Bradley,Unknown,bradley3941@henderson.com,True,2018-06-24,4,22.24
bradley7808,Bradley,Unknown,bradley8794@yahoo.com,True,2018-06-15,1,76.49
brenda,Brenda,Unknown,brenda@hotmail.com,True,2018-07-28,7,6.18
brooke2027,Brooke,Unknown,brooke6938@gmail.com,False,2018-05-23,0,7.22
cassandra,Cassandra,Unknown,cassandra9220@gmail.com,True,2018-05-03,5,78.90
christine2983,Christine,Unknown,christine3128@gmail.com,False,2018-05-23,5,94.02
christopher,Christopher,Unknown,christopher@gmail.com,True,2018-07-24,3,96.96
collin,Collin,Unknown,collin@gmail.com,False,2018-08-18,7,89.95
david,David,Unknown,david300@gmail.com,True,2018-03-28,0,59.74
dawn,Dawn,Unknown,dawn6718@hotmail.com,True,2018-03-02,2,72.63
debbie4918,Debbie,Unknown,debbie3109@hotmail.com,True,2018-02-09,7,73.63
diane4652,Diane,Unknown,diane9705@yahoo.com,False,2018-08-17,1,62.05
donald1420,Donald,Unknown,donald1129@gmail.com,True,2018-08-24,2,74.58
edward1527,Edward,Unknown,edward1672@yahoo.com,False,2018-03-07,3,69.63
elaine,Elaine,Unknown,elaine@yahoo.com,False,2018-04-20,5,45.20
emily,Emily,Unknown,emily7694@hotmail.com,True,2018-06-29,2,89.16
eugene4448,Eugene,Unknown,eugene@gmail.com,True,2018-06-08,0,95.38
jessica,Jessica,Unknown,jessica@gmail.com,True,2018-06-14,2,23.09
john,John,Unknown,john@hotmail.com,True,2018-09-24,3,84.67
joshua3747,Joshua,Unknown,joshua@hotmail.com,True,2018-05-22,0,11.70
katherine,Katherine,Unknown,katherine@yahoo.com,False,2018-01-26,3,59.06
kathy,Kathy,Unknown,kathy@gmail.com,False,2018-04-30,0,8.90
kimberly,Kimberly,Unknown,kimberly@yahoo.com,False,2018-01-06,5,54.73
krystal,Krystal,Unknown,krystal@hotmail.com,True,2018-05-30,3,46.92
linda,Linda,Unknown,linda@hill-ferguson.info,False,2018-03-27,1,38.67
lisa8780,Lisa,Unknown,lisa@hotmail.com,True,2018-05-03,3,36.82
margaret265,Margaret,Unknown,margaret@gmail.com,True,2018-01-05,1,96.14
maria955,Maria,Unknown,maria8257@gmail.com,True,2018-06-26,0,9.87
mark1605,Mark,Unknown,mark1905@gmail.com,True,2018-06-15,1,44.92
mark8466,Mark,Unknown,mark2286@hotmail.com,False,2018-06-01,6,5.11
melanie,Melanie,Unknown,melanie4308@hotmail.com,False,2018-07-30,1,44.94
michael,Michael,Unknown,michael952@hotmail.com,True,2018-01-28,0,78.56
michael7792,Michael,Unknown,michael@vega.com,False,2018-08-05,5,32.38
rachel,Rachel,Unknown,rachel5266@hotmail.com,True,2018-03-12,6,14.81
rebecca848,Rebecca,Unknown,rebecca759@hotmail.com,False,2018-06-23,0,22.73
robert8280,Robert,Unknown,robert@gmail.com,True,2018-09-22,2,56.89
sandra2071,Sandra,Unknown,sandra63@yahoo.com,True,2018-01-18,1,45.22
scott3928,Scott,Unknown,scott@yahoo.com,True,2018-02-26,5,72.02
sherry6113,Sherry,Unknown,sherry@hotmail.com,True,2018-04-06,7,21.79
tamara,Tamara,Unknown,tamara6323@gmail.com,True,2018-06-15,5,16.78
taylor2783,Taylor,Unknown,taylor@lewis.info,True,2018-01-07,1,11.19
tina3658,Tina,Unknown,tina@hotmail.com,True,2018-08-26,2,17.41
william,William,Unknown,william@hotmail.com,True,2018-06-13,4,4.69
william6714,William,Unknown,william5677@yahoo.com,True,2018-04-26,3,74.65

### Dropping Rows with Missing Data

Another option is to just drop rows that contain missing data.  That is the [`DataFrame.dropna`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html) method.  Use `inplace` parameter to update the existing `DataFrame`.

In this situation it's a little drastic, but you can imagine where missing data, makes what you are trying to accomplish invalid

In [10]:
users_with_last_names = users.dropna()

# Row counts of the original 
(len(users), len(users_with_last_names))

(475, 430)

In [11]:
users_with_last_names[users_with_last_names.last_name.isna()]

Empty DataFrame
Columns: [first_name, last_name, email, email_verified, signup_date, referral_count, balance]
Index: []